
li{
    float:left;
}
li a{
    text-align: center;
    text-decoration: none;
    display: block;
    color:white;
    padding:16px;
}
li a: hover{
    background-color: #111111;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  .all-browsers{
      background-color: lightgray;
      padding:5px;
      padding-left: 15px;
      padding-right: 15px;
  }
  .single-browser{
     background: white;   
  }
  .single-browser >h3,p{
      margin:4px;
      font-size: 90%;
  }
  .all-browsers > h1, .browser {
    margin: 10px;
    padding: 5px;
  }
  footer{
      background-color: darksalmon;
      color:white;
      text-align: center;
  }
  table,th,td{
      border: 1px solid black;
      border-collapse: collapse;
      padding: 10px;
      background-color: lightgreen
      
  }