nav{
  background-color: white;
  width: 100%;
  height: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 28px;
  box-sizing: border-box;
  position: fixed;
}
.accounts{
  border-radius: 20px;
  background-color:lightpink;
  color:darkslateblue;
  border:none;
  height:60px;
  width:150px;
  text-align: center;
  float:right;
}
.stunning-logo{
width:150px;
}
.navbar {
  width: 100%;
  margin-left: auto ;
  margin-right: auto ;
  background-color: #ABCDEF;
}
.nav-bar div {
  list-style-type: none; /*to remove bullets*/
  text-align: center;
  margin: 0px;
  padding: 0px;
  width: 90%;
  overflow: hidden;

}
.nav-bar a{
  float: left;
  padding: 2px;
  width: 150px;
  margin-left: auto ;
  margin-right: auto ;
text-decoration: none !important;
color:grey;
}
.heading{
    padding-top: 150px;
    padding-left:150px;
    font-family: sans-serif;
}
.hd{
    font-size: 70px;
}
.big{
  line-height: 1.8;
}
.main_pic{
   position:absolute;
   right:0%;
   top: 40%;
   padding-right:250px;
}
.button{
    background-color:darkslateblue;
    width:150px;
    height:50px;
    color:white;
    text-align: center;
    border-radius: 20px;
    border:none;
}
.img{
  position: relative;
  top: 24px;
  padding-left: 18px;;
}
.container{
padding:100px;
display:flex;
flex-direction:column;
margin:30px;

}
.box-1{
border:1px #ccc solid;
border-radius:10px;
width:20%;
display:flex;
}
.box-2{
border:1px #ccc solid;
border-radius:10px;
width:20%;
display:flex;
}

.box-3{
border:1px #ccc solid;
border-radius:10px;
width:20%;
display:flex;
}
.box-4{
border:1px #ccc solid;
border-radius:10px;
width:20%;
display:flex;
}
.icon1{
height:30px;
padding:10px;
}
.i-1{
height:30px;
padding:10px;
}